# App
APP_NAME=Mental Wellness API
ENVIRONMENT=dev

# MongoDB
MONGODB_URI=
MONGODB_DBNAME=auth_demo

# JWT
SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Stripe
STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_BASIC=
STRIPE_PRICE_PREMIUM=
FRONTEND_SUCCESS_URL=http://localhost:3000/subscription/success
FRONTEND_CANCEL_URL=http://localhost:3000/subscription/cancel

# OpenAI
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
